<%- include("header"); -%>

<h1>Shorten your URL</h1>

<form action="/" method="post">
    <div class="middle">
        URL: <input type="url" name="url" id="send" />
        <input type="submit" value="Short it!">
    </div>
</form>
<%- include("footer"); -%>